<div class="hero-unit">
<h1>Man Powder</h1>
<p>For the grundle down under.
	<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	application.
</p>
<p>
	<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
</p>



