<div class="footer">
		<small>
			<%= link_to "My Swag", "http://onemonthrails.com" %>
			by <%= link_to "Justin Vandehey", "http://www.linkedin.com/profile/view?id=30129771&trk=nav_responsive_tab_profile" %>
		</small>
	</div>